.city-features-item {
  padding: 35px 25px 1px 69px;
}

.city-features-item__title {
  font-weight: 700;
  text-align: start;
}

.city-features-item__text {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
}
