.city-features-item {
  display: flex;
  flex-direction: column;
  padding: 35px 25px 1px 69px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: $block-small;
    padding: 36px 43px 6px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $block-large;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  &--padding-large {
    padding-top: 25px;
    padding-left: 70px;

    @media (min-width: $tablet-width) {
      padding-right: 29px;
      padding-left: 31px;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      padding-top: 36px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  &--padding {
    padding-top: 25px;
    padding-left: 70px;

    @media (min-width: $tablet-width) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 35px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}

.city-features-item__title {
  margin-bottom: 16px;
  font-weight: 700;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-top: 133px;
    margin-bottom: 23px;
    font-size: 21px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 122px;
    margin-bottom: 23px;
  }

  &--margin {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-top: 122px;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 123px;
    }
  }
}

.city-features-item__text {
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 25px;
  }
}
