.page-main__promo {
  width: $mobile-block-width;
  height: 389px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main__features {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main__list,
.page-main__list-container,
.page-main__city-features {
  display: flex;
  flex-wrap: wrap;
}

.page-main__city-features {
  padding-bottom: 34px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}

.page-main__map,
.page-main__map-photo {
  height: 350px;
}

.page-main__photo-city {
  height: $block-medium;

  @media (min-width: $tablet-width) {
    width: $tablet-photo-width;
    height: $block-small;
  }
}

.page-main__photo {
  height: $block-medium;

  @media (min-width: $tablet-width) {
    height: $block-small;
    width: $tablet-photo-width;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    height: $block-small;
    width: 800px;
    order: -1;
  }
}
