.main-media__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--padding {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    @media (min-width: $tablet-width) {
      width: $tablet-width-medium;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: $block-large;
      height: 267px;
    }
  }
}

.main-media__list {
  padding: 22px 20px 15px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.main-media__link {
  width: 280px;
  height: 280px;

  &--size {
    @media (min-width: $tablet-width) {
      width: $tablet-width-medium;
      height: 267px;
    }

    @media (min-width: $desktop-width) {
      width: $block-large;
    }
  }

  &--size-large {
    @media (min-width: $tablet-width) {
      width: $tablet-block-large;
      height: $block-large;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
    }
  }
}

.main-media__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    width: $tablet-block-width-medium;
    margin-top: 0;
    padding: 15px 20px 15px 20px;
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    margin-top: -80px;
    background-color: transparent;
  }

  &--size {
    width: $tablet-block-width-medium;
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      width: 227px;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: 250px;
      margin-top: -80px;
    }
  }
}

.main-media__container {
  display: flex;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: 97px;
    margin-top: 0;
    padding: 15px 20px 15px 12px;
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    margin-top: -80px;
    background-color: transparent;
  }

  &--width {
    @media (min-width: $desktop-width) {
      width: 150px;
      padding-right: 28px;
    }
  }
}

.main-media__text {
  font-size: 14px;
  line-height: 24px;
  text-align: start;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 1px;
  }

  &--size-small {
    text-transform: none;
    font-weight: 400;
  }

  &--size-weight {
    font-weight: 700;
  }
}

.main-media__button {
  width: 23px;
  height: 21px;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 1px;
    margin-right: 9px;
  }
}
