.main-media__item {
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }

  &--padding {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-top: 0;

    @media (min-width: $tablet-width) {
      width: $tablet-width-medium;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: $block-large;
      height: 267px;
    }
  }
}

.main-media__list {
  padding: 23px 20px 0 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.main-media__link {
  width: 280px;
  height: 280px;

  &--size {
    @media (min-width: $tablet-width) {
      width: $tablet-width-medium;
      height: 267px;
    }

    @media (min-width: $desktop-width) {
      width: $block-large;
    }
  }

  &--size-large {
    @media (min-width: $tablet-width) {
      display: block;
      width: $tablet-block-large;
      height: $block-large;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
    }
  }
}

.main-media__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    width: $tablet-block-width-medium;
    margin-top: 0;
    padding: 15px 20px 16px 20px;
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    margin-top: -80px;
    padding-left: 21px;
    background-color: transparent;
  }

  &--size {
    width: $tablet-block-width-medium;
    margin-top: 8px;

    @media (min-width: $tablet-width) {
      width: 225px;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      margin-top: -80px;
    }
  }

  &--size-padding {
    width: $tablet-block-width-medium;
    margin-top: 8px;

    @media (min-width: $tablet-width) {
      width: 225px;
      padding-left: 21px;
      margin-top: 0;
      background-color: $dark-grey;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      margin-top: -80px;
    }
  }
}

.main-media__container {
  display: flex;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: 103px;
    margin-top: 0;
    padding: 15px 12px 15px 12px;
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    margin-top: -80px;
    background-color: transparent;
  }

  &--width {
    @media (min-width: $desktop-width) {
      width: 150px;
      padding-right: 28px;
    }
  }

  &--width-small {
    @media (min-width: $tablet-width) {
      width: 99px;
    }

    @media (min-width: $desktop-width) {
      width: 115px;
      padding-right: 20px;
    }
  }

  &--width-small-color {
    @media (min-width: $tablet-width) {
      width: 99px;
      background-color: $dark-grey;
    }

    @media (min-width: $desktop-width) {
      width: 115px;
      padding-right: 20px;
    }
  }
}

.main-media__text {
  font-size: 14px;
  line-height: 24px;
  text-align: start;
  font-weight: 700;

  &--size-small {
    margin-top: 1px;
    text-transform: none;
    font-weight: 400;
  }

  &--size-weight {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      margin-top: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 1px;
      margin-right: 9px;
    }
  }

  &--size-weight-margin {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      margin-top: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 1px;
      margin-right: 17px;
    }
  }
}

.main-media__button {
  width: 23px;
  height: 21px;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-right: 16px;
  }

  &--margin {
    @media (min-width: $tablet-width) {
      margin-right: 11px;
    }
  }
}
