.main-features__item-list {
  padding: 35px 25px 1px 69px;
}

.main-features__item-list_text {
  margin-bottom: 26px;
  text-align: start;
}

.main-features__title_margin {
  margin-bottom: 20px;
  font-weight: 700;
}
