.main-features__item {
  color: var(--white);
  padding: 55px 12px 39px 13px;
  background-color: var(--blue);
}

.main-features__number {
  font-size: 14px;
  line-height: 21px;
}

.main-features__text {
  font-size: 14px;
  line-height: 21px;
}
