body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  min-width: 320px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  background-color: $light-grey;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
