<<<<<<< HEAD:source/sass/blocks/header/main-nav-list.scss
.main-nav-list__item {
=======
.nav-list__item {
>>>>>>> 7da18cb8ebafd93eb0c381f55ad0b2b67fc3fc63:source/sass/blocks/header/nav-list__item.scss
  padding: 10px 60px 5px 60px;
  line-height: 48px;
  text-align: center;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
}
