.form-fields {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 60px;
    padding-right: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form-fields__name {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    padding-bottom: 51px;
    padding-left: 81px;
    margin-left: 0;
  }
}

.form-fields__contacts {
  margin-top: 21px;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-block-large;
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block-width;
    margin-top: 0;
  }
}

.form-fields__viewpoints {
  margin-top: 21px;
  order: -1;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 131px;
    margin-right: 0;
  }
}

.form-fields__places {
  margin-top: 15px;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.form-fields__emotions {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-block-large;
    margin-top: 11px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block-width;
    margin-bottom: 32px;
  }
}

.form-fields__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
}
