.page-footer {
  display: flex;
  min-height: 243px;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 120px;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }

  &--padding {
    padding-right: 3px;

    @media (min-width: $tablet-width) {
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 2px;
    }
  }
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 180px;
}

.page-footer__item {
  width: 46px;
  height: 48px;
  margin: 3px;

  &--size {
    width: 47px;
  }
}

.page-footer__text {
  margin-top: 39px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;

  &--margin {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin: 49px 8px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
  }
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  max-width: 160px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-right: 44px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 103px;
  }
}

.page-footer__copyright-text {
  margin-top: 9px;
  margin-right: 13px;
  padding-left: 2px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-right: 12px;
    padding-left: 0;
  }
}

.page-footer__link {
  width: 46px;
  height: 48px;
  display: flex;
  background-color: $blue;

  &--size {
    width: 47px;
  }
}
